## <font color=cyan><b>KC HOUSING PREDICTION MODEL.</b></font> 
## 1. Business understanding

In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import statsmodels.api as sm
# import plotly.graph_objects as go
# import scipy.stats as stats
# from sklearn.metrics import mean_absolute_error, mean_squared_error
# from pandas.core.internals.blocks import is_string_dtype
# from pandas.core.dtypes.api import is_numeric_dtype

In [2]:

#Loading dataset
df = pd.read_csv(r"C:\Users\AHB\Desktop\phase2\CHECKPOINTS\dsc-phase-2-project\data\kc_house_data.csv")
df.sample(n=5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
11322,9530101290,11/10/2014,700000.0,3,2.0,1940,4500,1.0,NaN,3.0,...,7,1090,850.0,1926,NaN,98107,47.6659,-122.359,1700,4500
12355,2591820070,4/28/2015,380000.0,3,2.5,2390,8102,2.0,0.0,0.0,...,8,2390,0.0,1986,0.0,98058,47.4378,-122.160,2310,8606
13662,4389201075,7/31/2014,1900000.0,4,2.5,3680,13351,2.0,0.0,2.0,...,9,3680,0.0,1946,1982.0,98004,47.6154,-122.214,3410,11700
4027,2946000590,12/23/2014,276000.0,3,1.5,1820,8750,1.0,NaN,0.0,...,7,1200,620.0,1958,NaN,98198,47.4213,-122.322,1500,8000
4149,808300090,1/16/2015,435000.0,4,2.5,2650,9065,2.0,0.0,0.0,...,7,2650,0.0,2000,0.0,98019,47.7258,-121.959,2590,13218

In [3]:

#assessing the size of thee dataset to understand complexity.
print("No: of rows is", df.shape[0])
print('No: of  columns is ', df.shape[1])

No: of rows is 21597
No: of  columns is  21

In [4]:
#viewing the colums and the content type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19221 non-null  float64
 9   view           21534 non-null  float64
 10  condition      21597 non-null  int64
 11  grade          21597 non-null  int64
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  object
 14  yr_built       21597 non-null  int64
 15  yr_renovated   17755 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: float64(8), int64(11), object(2)
memory usage: 3.5+ MB

In [5]:

#detecting missing values
df.isna().sum()

id                  0
date                0
price               0
bedrooms            0
bathrooms           0
sqft_living         0
sqft_lot            0
floors              0
waterfront       2376
view               63
condition           0
grade               0
sqft_above          0
sqft_basement       0
yr_built            0
yr_renovated     3842
zipcode             0
lat                 0
long                0
sqft_living15       0
sqft_lot15          0
dtype: int64

In [6]:
#dropping columns
# df1 = df.dropna(subset=['waterfront', 'yr_renovated'])

#### 1.1 Introduction
The real estate market in a northwestern county exhibits considerable variation in house prices due to multiple factors such as property features, location, and market trends. The complexity and dynamism of the market make it challenging to predict house prices accurately.
As part of the data scientist team our task is to create a pricing models essential to stakeholders including real estate agents, buyers, sellers, and investors to make informed decisions. 
#### 1.2 Problem statement
#### 1.3 Objective
#importing libraries